<html>
	<head>
		<div th:replace="fragments/resources :: headTags"></div>
		<title>Pizzas menù</title>
	</head>
	<body>
		<!-- container -->
		<div class="container">
			<h1>Pizzas menù</h1>
			<hr/>
			
			<!-- button "add" -->
			<div class="mb-3">
				<a class="btn btn-primary" th:href="@{/pizzas/create}">Add new pizza</a>
			</div>
			
			<!-- success message -->
			<th:block th:if="${successMessage != null}">
				<div th:text="${successMessage}" class="alert alert-success" role="alert"></div>
			</th:block>
			
			<!-- table -->
			<table class="table" th:if="${list.size() > 0}"> <!-- mostra solo se elementi in lista -->
				<thead>
					<tr>
						<th>Pizza</th>
						<th>Price</th>
						<th>Description</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${list}">
						<td th:text="${item.name}"></td>
						<td th:text="${item.price}"></td>
						<td th:text="${item.description}"></td>
						<td>
							<a class="me-1" th:href="@{|/pizzas/edit/${item.id}|}"><i class="fas fa-edit"></i></a>
							<a class="me-2" th:href="@{|/pizzas/delete/${item.id}|}" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!-- alert if empty -->
			<div class="alert alert-warning" role="alert" th:unless="${list.size() > 0}">
				The pizza was a lie!
			</div>
		</div>
		
		<!-- scripts -->
		<div th:replace="fragments/resources :: scripts"></div>
	</body>
</html>
